#mul_table {
	font-size: xx-large;
	color: black;
	margin: 0 auto;
	text-align: right;
}

input.active {
	background-color: lightgreen;
}

#mul_table input {
	font-size: xx-large;
	border: solid thin black;
   box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
	width: 6ch;
	direction: rtl;
	padding: 0.1em;
}

.sum_input {
	unicode-bidi: bidi-override;
}

#mul_table button {
	font-size: large;	
}