#mul_table {
	font-size: xx-large;
	color: black;
	margin: 0 auto;
	text-align: right;
}

#mul_table input {
	font-size: xx-large;
	text-align: right;
	width: 4em;
}

#mul_table button {
	padding: 0;
}

#mul_table .num_input {
	direction: rtl;
	unicode-bidi: bidi-override;
}

#mul_table #mem input {
	width: 0.6em;
	border: solid 1px gray;
	border-width: 1px 0 1px 1px;
	margin: 0;
	padding: 0;
}