#mul_table {
	font-size: xx-large;
	color: black;
	border: solid thick oldlace;
	margin: 0 auto;
	text-align: right;
}

#mul_table input {
	font-size: xx-large;
	text-align: right;
	width: 4em;
}

#mul_table button {
	padding: 0;
}
